.contactsList
  background: #a1c8c8
  color: black
  font-size: 22px
  padding-left: 30px
  display: flex
  align-content: center
  align-items: center
  height: 50px
  border: 1px solid black

.removeBtn
  background-image: url(../img/illust58-1817.png)
  mask-mode: alpha
  background-position: center
  background-size: 45px
  width: 50px
  height: 45px
  border-radius: 10px
  border: solid 2px lightslategray


.phone
  display: flex
  justify-content: end

.checkBox
  width: 20px
  height: 20px
  background-color: white
  margin-right: 20px

